.hero {
  padding: 100px 2rem 2rem;
  text-align: center;
  background-color: #ecf0f1;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.hero h2 {
  font-size: 1.5rem;
  color: #34495e;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  color: #7f8c8d;
}